{% extends 'base.html' %}
{% block content %}
<form method="POST" action="{% url 'post' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'form_errors.html' %}
    <div class="form__container">
        <div class="form__image">
                <div class="form__image__msg">
                    사진을 선택하세요
                </div>
                <button type="button" id="form-image-show" class="btn btn-primary form__image__msg">사진 선택</button>
                <div class="form__preview__wrapper">
                    <img class="form__preview" src="">
                </div>
            <input type="file" id="form-image" name="image" />
        </div>

        <div class="form__main">
            <div class="mb-3 w-100">
                <label for="titleFormControl" class="form-label">제목</label>
                <input type="text" name="title" class="form-control" id="titleFormControl" placeholder="제목">
            </div>
            <div class="mb-3 w-100">
                <label for="contentFormControl" class="form-label">내용</label>
                <textarea type="text" name="content" class="form-control" id="contentFormControl" placeholder="내용" ></textarea>
            </div>
            <div class="w-100 form__submit__wrapper">
                <input class="btn btn-primary" type="submit" value="작성" />
            </div>
        </div>
        
    </div>
    
</form>
{% endblock %}